# Auto detect text files and perform LF normalization
* text=auto
*.csv linguist-vendored
*.ipynb linguist-documentation=true
*.ipynb linguist-detectable=true
*.py linguist-language=Python
*.py linguist-detectable=true
